# Ignore a specific file
.env
values.txt

# Ignore entire folders (use a trailing slash)
dist/

# Ignore all files with a specific extension
*.log
*.tmp
*.txt

# Exception: do NOT ignore this specific file
#!.env.example